.film-poster {
  width: var(--poster-width);
  height: var(--poster-height);
  margin: 0 5px 15px;
}
@media screen and (max-width: 576px) {
  .film-link {
    width: 45%;
    margin-right: 6px;
    display: inline-block;
  }
  .film-poster {
    width: 100%;
    height: 180px;
  }
}
